<h1>Square Root</h1>

<form>
  <label for="input1">What number would you like the square root of?</label>
  <input type="text" id="input1" name="number">
  <button type="submit">Submit</button>
</form>

<p>The square root of <%= @the_number %> is <%= @answer %>.</p>
